
# <----- ***** Need use below only if your running in mac book >

; begin auth token
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/registry/:username=ayyappac@mycoitracking.com
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/registry/:_password=dWh6ZG9iM2UydHpqbmI2ZnVxNjdraTd1eGt3NXhraXU1Zjd4c3ZwZTczaWRuMmp5cXh4YQ==
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/registry/:email=ayyappac@mycoitracking.com
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/:username=ayyappac@mycoitracking.com
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/:_password=dWh6ZG9iM2UydHpqbmI2ZnVxNjdraTd1eGt3NXhraXU1Zjd4c3ZwZTczaWRuMmp5cXh4YQ==
//pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/:email=ayyappac@mycoitracking.com
; end auth token

# <----- ***** Need use both mack and windows  >
registry=https://pkgs.dev.azure.com/myCOI/_packaging/myCOI-Empower-NPM/npm/registry/

always-auth=true