body {
  margin: 0;
  background-color: #304760;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#error-page{
  text-align: center;
  color: #fff;
  margin-top:35vh;
  justify-content: center;
}
.action-icon {
  display: none !important;
}

/* ag-grid adds ag-row-hover class on row hover */
/* .ag-row-hover .action-icon {
  display: initial !important;
} */
.ag-row-selected .action-icon {
  display: initial !important;
}